@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @* Changed the size of the H1 to 3em *@
    @*The ideoa was putting a presentation with a quick video about what is the Bible Study Guide and how it works*@
    <h1 style="font-size:3em">My Bible Study</h1>
    <h2>Catholic Bible Study to help you deepen your faith.</h2>
    <p class="lead">The habitual study of the verses and chapters is not easy. This guide helps people who are beginning
    to read the Bible seriously and/or for those that already are on the hard journey of becoming a better catholic person.</p>
    <table>
        <tr>
            <td>
                <img src="~/Content/Jesus.jpg" alt="Jesus" width="100%">
            </td>
            <td>
                <img src="~/Content/Bible.jpg" alt="Bible" width="100%">
            </td>
            <td>
                <img src="~/Content/Mary.jpg" alt="Mary" width="100%">
            </td>
        </tr>
    </table>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>A quick history of the Catholic Church and the Bible</h2>
        <p>
            More than 2000 years of history built what we see today in a fantastic compilation of books.
        </p>
        <p><a class="btn btn-default" href="https://cruxnow.com/faith/2015/11/17/a-quick-history-of-the-catholic-church-and-the-bible/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more information about being a good catholic</h2>
        <p>Large numbers of men who were baptized Catholic have left the Church and the majority of those who remain are “Casual Catholic Men”, 
        men who do not know the Catholic faith and don’t practice it.</p>
        <p><a class="btn btn-default" href="https://www.catholicgentleman.net/2014/10/12-ways-become-committed-catholic-man/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More about sacraments</h2>
        <p>The liturgical life of the Catholic Church revolves around the Eucharistic sacrifice and the sacraments. There are seven sacraments 
        in the Church: Baptism, Confirmation, Eucharist, Penance, Anointing of the Sick, Matrimony, and Holy Orders.</p>
        <p><a class="btn btn-default" href="https://www.catholic.org/prayers/sacrament.php">Learn more &raquo;</a></p>
    </div>
</div>